$light-background: #f1f1f1;
$dark-background: #292E2A;

$primary-light-color: #8b13d1;
$primary-dark-color: #D6A2F5;
$secondary-color: #05ECC5;
$terciary-color: #EF8050;

$alert-color: #A50000;
$confirm-color: #02789E;

$skew: skewX(-12deg);

